.container-mob-app {
  width: 80%;
  margin: 0 auto;
  background: white;
  padding: 10px;
}
.mob-app-flex {
  display: flex;
  justify-content: space-between;
}

.mobapp-logo-container {
  width: 30%;
  margin: 5px;
}
.mob-app-cont-1 {
  padding: 20%;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes mymove {
  from {
    right: 0px;
  }
  to {
    right: 100px;
  }
}
.mob-app-content-description {
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.mobile1 {
  background-image: url('https://frankotrading.com/img/cms/delivery%20.jpg');
  background-size: cover;
  position: relative;
  animation: mymove 5s infinite;
}
